.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  margin-bottom: 8.2rem;

  @media only screen and (max-width: 56.25em) {
    margin-bottom: 20rem;
  }

  @media only screen and (max-width: 34.6em) {
    padding: 0 2rem;
  }
  &__logo {
    @media only screen and (max-width: 34.6em) {
      width: 15rem;
    }

    @media only screen and (max-width: 23.5em) {
      width: 12rem;
    }
  }
}

.navigation {
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6rem;
    cursor: pointer;
    transition: all 0.2s;
    border: none;
    color: $Very-Dark-Blue;

    @media only screen and (max-width: 23.5em) {
      justify-content: space-around;
      gap: 4rem;
    }
  }

  &__item:hover {
    color: $Desaturated-Blue;
  }

  // &__item {
  //   @media only screen and (max-width: 23.5em) {
  //     justify-content: space-around;
  //     gap: 1rem;
  //   }
  // }
}
